.Render_item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    span {
        margin-right: 5px;
    }
}

.Render_category_title {
    font-size: 28px;
    letter-spacing: 2px;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.Render_category_subtitle {
    padding: 20px 0;
    font-size: 24px;
    letter-spacing: 2.5px;
    text-align: center;
    position: relative;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    &::before {
        content: '';
        height: 3px;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: 28px;
        right: 0;
        z-index: -1;
    }

    span {
        z-index: 2;
        background-color: white;
        padding: 10px;
    }


}

.Render_item_title {
    font-size: 18px;

    @media (max-width: 900px) {
        font-size: 16px;
    }

    @media (max-width: 550px) {
        font-size: 14px;
    }

}

.Render_item_text {
    color: var(--color-grey);
}

.Render_item_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font: var(--font-l);

    @media (max-width: 900px) {
        font-size: 16px;
    }

    @media (max-width: 840px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 550px) {
        font-size: 14px;
    }
}

.Render_item_price {
    color: black;
    font-weight: 500;
}