.MenuPage {
    background-color: rgba(255, 255, 255, 0.15);
    color: black;
padding-bottom: 50px;}

.MenuPage_firstScreen {
    height: 500px;
}

.MenuPage_tabList {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    color: black;
    padding: 30px 0px;

    p {
        cursor: pointer;
    }
}

.Render_item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    span{
        margin-right: 5px;
    }
}
.Render_category_title {
    font-size: 28px;
    letter-spacing: 2px;
}
.Render_category_subtitle {
    padding: 15px 0;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    z-index: 1;
    &::after,
    &::before{
        content: '';
        height: 3px;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: 22px;
        right: 60%;
        z-index: 0;
    }
    &::after{
        right: 0;
        left: 60%;
    }

}
.Render_item_title {
    font-size: 18px;
}

.Render_item_text {
    font-size: 16px;
    color: var(--color-grey);
}

.Render_item_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.Render_item_price {
    color: black;
    font: var(--font-l);
    font-weight: 500;
}