.ParallaxTop {
    margin-top: -500px;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100vh;
    text-align: center;
    z-index: -2;

    &_img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    &_img::before {
        content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;
  background-image: url('../../img/b4.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  /* Параллакс */
//   transform: translateZ(-1px) scale(2);
    }
}