.WindowImg {
    max-width: 100%;
    height: 550px;

    &_img {
        background-image: url(../../img/vve3ewl8ebqxvpdd1166ku4z80bkdvqx.jpg);
        max-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px;
    }
}

